@import "../../css-config/mixins.scss";

.layout-category {
  margin-left: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.layout-product {
  margin-left: 10%;
  width: 80%;
}
