.products-content {
  padding: 20px;
  .card-title {
    h3 {
      margin: 0;
      padding: 10px;
      background-color: #263043;
      color: white;
    }
  }

  .card-body {
    table {
      width: 100%;
      border-collapse: collapse;

      thead {
        tr {
          td {
            padding: 8px;
            background-color: #263043;
            color: white;
            text-align: center;
          }
        }
      }

      tbody {
        tr {
          td {
            padding: 8px;
            text-align: left;

            img {
              width: 100px;
            }

            .btn {
              margin-bottom: 10px;
              width: 100%;
              text-align: center;
              font-size: 27px;
              color: #263043;
              border: none;
              &.btn-success {
                background-color: #ffffff;
              }

              &.btn-danger {
                background-color: #ffffff;
              }

              &.btn-primary {
                background-color: #ffffff;
              }
            }

            .btn:hover {
              color: red;
            }
          }
        }
      }
    }
  }
}
