.products-content {
  padding: 20px;
  .card-title {
    h3 {
      margin: 0;
      padding: 10px;
      background-color: #263043;
      color: white;
    }
  }

  .card-body {
    .products-grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 20px;

      .product-card {
        width: calc(33.33% - 20px); /* 3 sản phẩm trên mỗi hàng */
        border: 1px solid #ddd;
        padding: 10px;
        box-sizing: border-box;

        .product-image img {
          max-width: 100%;
          height: auto;
        }

        .product-details {
          margin-top: 10px;
          h4 {
            margin: 0;
          }
        }

        .product-actions {
          margin-top: 10px;
        }
      }
    }
  }
}
