.layout-about-us {
  max-width: 80%;
  margin: 0 auto;
}
.layout-service {
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
}
.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-bottom: 30px;
}
.Layout-testimonial {
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
}
.Layout-blog {
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
}
