.layout-service {
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.section__subtitle {
  text-align: center;
  color: #8b0000;
}

.banner {
  width: 100%;
  height: 220px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: aliceblue;
  background-image: linear-gradient(rgb(41, 43, 57, 0.5), rgb(41, 43, 57, 0.5)),
    url("https://theme.hstatic.net/1000366669/1000908004/14/t-shirt.jpg?v=203");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 55px;
  p {
    width: 100%;
  }
  h2 {
    width: 100%;
  }
}

.layout-choose-us {
  margin-bottom: 4%;
  .section__title {
    text-align: center;
    font-weight: 600;
  }
  .video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 56.25%;
  }
  .video-container > * {
    position: absolute;
    top: 1%;
    width: 100%;
    height: 100%;
  }

  @media (max-width: 768px) {
    .video-container {
      padding-top: 0;
      height: 200px;
    }
  }
}

.Layout-testimonial {
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
  .backgroud-row {
    background-color: #fff;
    border-radius: 8px;
  }
}
.Layout-blog {
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
}
