.service__item span i {
  font-size: 2rem;
  color: #8B0000;
}

.service__item h6 {
  font-size: 1.1rem;
  font-weight: 600;
  transition: 0.3s;
}

.service__item h6:hover {
  color: #8b0000;
}

@media only screen and (max-width: 768px) {
  .service__item span i {
    font-size: 1.5rem;
  }

  .service__item h6 {
    font-size: 1rem;
  }
}
